/* cекція about */
.about {
  padding-bottom: 94px;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: none;
  }
}

.about-list {
  display: flex;
  flex-basis: 370px;
}

.img__wrapper {
  position: relative;
}
.about-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--white-cl);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  width: 370px;
  height: 70px;
  bottom: 0;
}
