/* Описання */

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  color: var(--main-txt-cl);
}
/* секція Benefits */
.benefits-title {
  width: 100%;
}
.benefits-list {
  display: flex;

  @media screen and (min-width: 320px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    gap: 30px;
  }
}
// }}
// @media screen and (min-width: 480px) and (max-width: 1199px) {
//   flex-wrap: wrap;
//   gap: 30px;
//   justify-content: center;
// }

.about__benefits__list:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.benefits-link {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 270px;
  height: 120px;
  background-color: var(--background-btn);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits--icon {
  fill: currentColor;
}
