body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: var(--white-cl);
}
 

  * {
    outline: 1px solid red;
  }