
  .contact-list {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    transition: color var(--anim);

  /* Ховер, Фокус для тел і пошти */
  &:hover,
  &:focus {
    color: var(--accent-cl);
  }}
  /* Іконки Header */
  .contact--icon {
    fill: currentColor;
    margin-right: 10px;
  }
