
.logo {
    font-family: var(--secondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
    margin-right: 93px;
  }
  .logo-style-black {
    color: var(--black-cl);
  }
  .logo-style-white {
    color: var(--white-cl);
  }