.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-block {
  display: block;
  transition: box-shadow var(--anim);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio-block:hover,
.portfolio-block:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
// .portfolio-block-item {
//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     flex-grow: 1;
//   }
// }

.text-frame {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-cl);
  border-top: none;
}
