
/* Оформлення іконок */
.social-media {
  display: flex;
  justify-content: center;
}
.social-media-item:not(:last-child) {
  margin-right: 10px;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-cl);
  border-radius: 50%;
  transition: color var(--anim), background-color var(--anim);

&:hover,
&:focus {
  background-color: var(--accent-cl);
  color: var(--white-cl);
}}
.social-media-icon {
  fill: currentColor;
}